<html>
<head>
    <title>$i18n.getText("config-page.title")</title>
    <meta name="decorator" content="atl.admin">

    <meta http-equiv="cache-control" content="max-age=0"/>
    <meta http-equiv="cache-control" content="no-cache"/>
    <meta http-equiv="expires" content="0"/>
    <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT"/>
    <meta http-equiv="pragma" content="no-cache"/>

    $webResourceManager.requireResourcesForContext("url-restrictions-configuration-context")
</head>
<body>
<section id="content" role="main">
    <header class="aui-page-header">
        <h1>$i18n.getText("config-page.title")</h1>
    </header>
    <div class="aui-page-panel">
        <div class="aui-page-panel-inner">
            <section class="aui-page-panel-content">

                <div class="aui-tabs horizontal-tabs">
                    <ul class="tabs-menu">
                        <li class="menu-item active-tab">
                            <a href="#tabs-example-first">
                                $i18n.getText("config-page.tabs-menu.rules")
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="#tabs-example-second">
                                $i18n.getText("config-page.tabs-menu.checker")
                            </a>
                        </li>
                    </ul>
                    <div class="tabs-pane active-pane" id="tabs-example-first">
                        <br/>
                        <div id="aui-message-bar"></div>
                        <button id="add-rule-dialog-show-btn" class="aui-button aui-button-primary">
                            $i18n.getText("config-page.main.add")
                        </button>

                        <table class="aui" id="rules-table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>$i18n.getText("config-page.text.url-pattern")</th>
                                    <th>$i18n.getText("config-page.text.restriction-type")</th>
                                    <th>$i18n.getText("config-page.text.restriction-value")</th>
                                    <th>$i18n.getText("config-page.text.response-type")</th>
                                    <th>$i18n.getText("config-page.text.response-value")</th>
                                    <th>$i18n.getText("config-page.text.actions")</th>
                                </tr>
                            </thead>
                            <tbody>
                                #foreach($entity in $data.ruleEntities)
                                <tr>
                                    <td>$entity.getID()</td>
                                    <td>$entity.getPattern()</td>
                                    <td>
                                        #if($entity.getRestrictionType() == "byName")
                                            $i18n.getText("config-page.text.by-user-name")
                                        #end
                                        #if($entity.getRestrictionType() == "byIp")
                                            $i18n.getText("config-page.text.by-ip-address")
                                        #end
                                        #if($entity.getRestrictionType() == "byMask")
                                            $i18n.getText("config-page.text.by-ip-mask")
                                        #end
                                        #if($entity.getRestrictionType() == "byGroup")
                                            $i18n.getText("config-page.text.by-user-group")
                                        #end
                                    </td>
                                    <td>$entity.getRestrictionValue()</td>
                                    <td>
                                        #if($entity.getResponseType() == "forbidden")
                                            $i18n.getText("config-page.text.block-page")
                                        #end
                                        #if($entity.getResponseType() == "redirect")
                                            $i18n.getText("config-page.text.redirect-url")
                                        #end
                                    </td>
                                    <td>$entity.getResponseValue()</td>
                                    <td>
                                        <button ruleId="$entity.getID()" class="aui-button aui-button-compact edit-rule-button">
                                            $i18n.getText("config-page.main.edit")
                                        </button>
                                        <button ruleId="$entity.getID()" class="aui-button aui-button-link aui-button-compact delete-rule-button">
                                            $i18n.getText("config-page.main.delete")
                                        </button>
                                    </td>
                                </tr>
                                #end
                            </tbody>
                        </table>
                    </div>
                    <div class="tabs-pane" id="tabs-example-second">
                        <br/>
                        <div id="aui-message-bar-checker"></div>

                        <form class="aui" id="checker-form">
                            <div class="field-group">
                                <label for="pattern">
                                    $i18n.getText("config-page.checker-form.label.url")
                                </label>
                                <input class="text long-field" type="text" id="url" name="url">
                            </div>
                            <div class="field-group">
                                <label for="pattern">
                                    $i18n.getText("config-page.checker-form.label.users-name")
                                </label>
                                <input class="text long-field" type="text" id="userName" name="userName">
                            </div>
                            <div class="field-group">
                                <label for="pattern">
                                    $i18n.getText("config-page.checker-form.label.users-ip")
                                </label>
                                <input class="text long-field" type="text" id="ip" name="ip">
                            </div>
                            <div class="buttons-container">
                                <div class="buttons">
                                    <input class="button submit" type="submit" value="Check" id="checker-submit-button">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>

<div id="rule-dialog-placeholder"></div>

</body>
</html>